*{
    height: 100%;
     width: 100%;
     
}
body{
    /*background-color:palevioletred;*/
}
 /*.box{
    background-color: rgb(80, 205, 255);
    height: 500px;
    width: 500px;
    margin: 250px;
    justify-content: center;
    align-items: center;
}*/
.chikki{
  /* background-color: rgb(68, 157, 77);*/
    height: 490px;
    width: 4800px;
    display: flex;
    gap:20px;
    
   /* justify-content: center;
    align-items: center; */
}
.rooms{
    background-color:blueviolet;
      height: 300px;
    width: 300px;
    

   /* height: 100%;
    width: 15%;*/
    
    
}
img{
    height: 300px;
    width: 300px;
    /* height:490px;
    width: 700px;*/
    
    

}
img:hover{
    scale: 1.2;
    transition: 2s;
}